* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{

    font-family:TitilliumWeb-Regular;
    src: url(resources/omega-layout/tipografia/TitilliumWeb-Regular.ttf) !important;
}

body {
    font-family: 'Titillium Web', sans-serif !important;
}



header {
    width: 100%;
    height: 50px;
    background: #727272;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}   

.content{
    width: 99%;
    margin: auto;
}


@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}
@media (min-width:1024px) {
    .contenedorPie {
        width: 100%;
    }
}

#menu-bar {
    display: none;
}

header label {
    /*float: right;*/
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    /*width: 100%;*/
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}
#btn-menu{
    /*padding-left: 80%;*/
}

#btn-menu:checked ~ .menu {
    margin: 0;
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .menu a {
        border: none;
        background: #727272;
    }

    header label {
        display: none;
    }
}

section {
    width: 100%;
    margin-bottom: 25px;
}

.info-pet img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #727272;
}


.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}



@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

p{
    line-height:1.75
}
a{
    color:#727272
}
a:hover{
    color:#fff
}
.text-primary{
    color:#C7C7C7!important
}
h1,h2,h3,h4,h5,h6{
    font-weight:700;
    margin-top: 0;
    color:#727272 !important;
    margin-bottom: 0.5rem;
}
section{
    padding:0px 0
}


footer{
    padding:25px 0;text-align:center
}
footer span.copyright{
    font-size:90%;color: #fff;
    line-height:40px;text-transform:none;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
}
footer ul.quicklinks{
    font-size:90%;line-height:40px;margin-bottom:0;
    text-transform:none;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
}
ul.social-buttons{
    margin-bottom:0}ul.social-buttons li a{
    font-size:20px;
    line-height:40px;
    display:block;
    width:40px;height:40px;
    -webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;color:#727272;
    border-radius:100%;outline:0;background-color:#fff
}
ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
    background-color:#fff
}
.btn-primary{border-radius: 15px !important;
             background-color:#fff !important;
             border-color:#727272 !important;
             color: #727272 !important
}
.btn-primary:active,.btn-primary:focus,
.btn-primary:hover{background-color:#fff !important;
                   border-color:#FF6F00!important;color:#FF6F00 !important
}

a:hover {
    color: #727272;
    text-decoration: none;
    text-decoration: underline;
}


.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media screen and (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: none;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


.carousel-item-prev,
.active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}


.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


@media (min-width:768px) {
    .sociales {
        width: auto;
    }

    footer .contenedor {
        justify-content: space-between;
    }
}

.servicios {
    width: 100%;
}
.servicios ul {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.servicios li {
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}
.servicios img {
    display: block;
    margin: auto;
}
.servicios h3{
    text-align: center;
}

@media (max-width: 420px){
    .servicios ul{
        flex-direction: column;
    }
}

.logotop{
    background-size: cover;
    max-width: 100%;
    min-width: 10%;
    background-repeat: no-repeat;
    height: auto;
    margin: auto;
}

@media (max-width:420px) {
    .logotop {
        padding-top:5%;
        max-width: 40%;
    }
}

.imgregistroU{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    min-width: 40%;
    min-height: 150px; 
    padding: 10px;
}

@media (max-width:420px) {
    .imgregistroU {
        padding-top:5%;
        width: 50%;
        max-width: 50%;
    }
}

/*Estilos de los dialog responsivos*/
@media (min-width: 1200px) and (max-width:1920px){
    .imgSize{
        width:40%;
        height:40%; 
    }
}
@media (min-width: 960px) and (max-width:1200px){
    .imgSize{
        width:25%;
        height:25%; 
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .imgSize{
        width:20%;
        height:20%; 
    } 

}

@media (min-width:480px) and (max-width: 640px) {
    .imgSize{
        width:20%;
        height:20%; 
    } 
}

@media (min-width:320px) and (max-width: 480px) {
    .imgSize{
        width:20%;
        height:20%; 
    } 
}

@media (min-width:100px) and (max-width: 320px) {
    .imgSize{
        width:20%;
        height:20%;
    } 
}

