
.ui-datatable td a>i.fa{
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    color: #3E5E66;
    text-decoration: none;   
    font-size: 1.2em;
}
.ui-datatable td a{
    text-decoration: none;
    margin-right: 2px;
    width: 16px;
    height: 16px;  

}
.ui-row-editor{
    float:left;
    margin-right: 2px;
}
.ui-datatable table {
    table-layout: auto !important;
}

.no-link{
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    color: #3E5E66;
    text-decoration: none;   
    font-size: 0.8em;
}


.cajonActivo {
    background-color: #19555A;
    width: 38px ;
    height: 50px;
    font-size: 8px ;
    cursor: pointer;
    color: #ffffff;
}
.cajonInactivo {
    background-color: #960909;
    background-color: #cc0000;

    width: 38px ;
    height: 50px;
    font-size: 8px ;
    cursor: pointer;
    color: #ffffff;
}
.cajonOcupado {
    background-color: #336600;

    cursor: pointer;
    font-size: 8px ;
    width: 38px ;
    height: 50px;
    color: #ffffff;
}
.cajonNoCorrespondiente {
    background: radial-gradient( #55a00a 10%, #336600  90% );
    cursor: pointer;
    font-size: 8px ;
    width: 38px ;
    height: 50px;
    color: #ffffff;
}




.toltipsCajones{
    font-size: 30px; 
    background: #ffffff;
    color: #000;
    font-weight: bold;
}


.mapa > div > div{
    cursor: crosshair !Important;
}

ul.ui-widget-content.ui-picklist-list {
    width: inherit;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    margin: 0 auto .3em;
}

.picklist_concesionario {
    margin-left: 5px;
    width: 100%;
}


#logo img {
    height: 4rem;
    vertical-align: middle;
    width: 9.1rem;
}


.ui-datatable.esconder-seleccionar-todos .ui-selection-column .ui-chkbox-all{
    display:none;
}

.ui-picklist .ui-picklist-list{
    height: 370px;
}

.linkExportacion {
    color: #324b52; 
    font-weight: bold;
    font-family: 'dosismedium';
}

.anchoButton .fc-button-group button, .anchoButton .fc-left button{
    width:  auto;
}

.fc-day-grid-event .fc-time{
    color: black;
    font:  0/0 a;
}

.fc-day-grid-event > .fc-content{
    font-size: 12px;
    margin-top: -10px;
    vertical-align:top;
}

.fc-view-container .fc-event{
    background-color: #2f464c;
    border: solid 1px #2f464c;
    height: 25px;

}

.container-Imagen{
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}

.container-Imagen-sombreado{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 2px solid #000000;
}

.container-panel{
    margin-top: 20px;
    background-color: white;
    border: 0px solid;
}

.primero, .segundo, .tercero {
    display: inline;
    float: left;
    margin: 1em;
    padding: .3em;
    border: 2px solid #555;
    width: 100px;
    height: 150px;
    font: 1em Arial, Helvetica, sans-serif;
}

.segundo{ overflow: visible;}
.tercero{ overflow: scroll;}

.poligon-menu {
    position: absolute;
    background: white;
    padding: 3px;
    color: #666;
    font-weight: bold;
    border: 1px solid #999;
    font-family: sans-serif;
    font-size: 12px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
}
#deleteVertex {
    margin-top: -10px;
}
#deleteShape {      
    margin-top: 11.5px;
}
#addHole {
    margin-top: -32px;
}      
.poligon-menu:hover {
    background: #ced0da;
}

.ventana {
    width: 100%;
    margin: auto;
    padding: 50px 50px;
    /*background-color: aqua;*/		
}

.ventana h3 {
    margin: 0 0;
    padding: 0 0;
    /*background-color: maroon;*/
}
.ventana h3 img {
    display: block;
    position: absolute;
    margin: 0 0;
    padding: 0 0;
    bottom: 0px;
    right: 0;
}

.cuadroContenido{
    background-color: #fff;
    color: #333;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.textosTitulosInternos{
    font-size: 15px;
    color: #00685b !important;
    text-align: center;
    /*font-weight: bold;*/ 
    text-decoration: none;
}
.titulos{
    font-size: 10px;
    color: #434040 !important;
    /*font-weight: bold !important;*/ 
}
.datos{
    font-size: 17px;
    color: #00685b !important;
    text-align: center;
    /*font-weight: bold !important;*/ 
    text-decoration: none;
}
.imgRedonda {
    width:300px;
    height:250px;
    border-radius:150px;
    width:300px;
    height:60%;
    border-radius:15px;
}
.degradadoNuevoRegistro{
    background: rgba(239,239,239,1);
    background: -moz-linear-gradient(left, rgba(239,239,239,1) 0%, rgba(255,255,255,0.94) 31%, rgba(255,255,255,0.85) 74%, rgba(239,239,239,0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,239,239,1)), color-stop(31%, rgba(255,255,255,0.94)), color-stop(74%, rgba(255,255,255,0.85)), color-stop(100%, rgba(239,239,239,0.8)));
    background: -webkit-linear-gradient(left, rgba(239,239,239,1) 0%, rgba(255,255,255,0.94) 31%, rgba(255,255,255,0.85) 74%, rgba(239,239,239,0.8) 100%);
    background: -o-linear-gradient(left, rgba(239,239,239,1) 0%, rgba(255,255,255,0.94) 31%, rgba(255,255,255,0.85) 74%, rgba(239,239,239,0.8) 100%);
    background: -ms-linear-gradient(left, rgba(239,239,239,1) 0%, rgba(255,255,255,0.94) 31%, rgba(255,255,255,0.85) 74%, rgba(239,239,239,0.8) 100%);
    background: linear-gradient(to right, rgba(239,239,239,1) 0%, rgba(255,255,255,0.94) 31%, rgba(255,255,255,0.85) 74%, rgba(239,239,239,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef', GradientType=1 );
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:  50% 90% no-repeat #000;
    background:  50% 90% no-repeat #fff;
    opacity: .6;
}

.ui-datepicker-header {
    font-size: 100%
}

.menu-bg {
    z-index: 2;
}

.menu {
    position: absolute;
    background: white;
    width: 70%;
    top: 0px;
    margin-left: -300%;
    transition: all 0.1s;

    background: #f3f3f6;
    /*border: 1px solid #e1e1e1;*/
    height: 1000px;
    /*border-radius: 25px;*/ 
}
.menu ul {
    flex-direction: column;
    width: 100%;
}

#btn-menu {
    display: none;
    justify-content: flex-end;
}

#btn-menu:checked ~ .menu {
    margin: 0;
    margin-left: -85%;
}

.btn-buscador{
    font-size: 25px;
    height: 40px !important;
    border-radius: 5px;
    padding-left: 20px;
    box-sizing: content-box;
}

.btn-inicio-sesion{
    background-color:#F4511E !important;
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff !important;
}

.btn-registrarse{
    background: #727272 !important;
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff !important;
}

.nombre-restaurante{
    font-size: 15px;
    color: #ff6400;
    text-align: center
}

.titulo{
    color: #727272 !important;
}

.sub-titulo{
    color: #F4511E !important;
    font-size: 17px;;

}

.input-registro{
    /*    width: 100%;
        padding: 10px;*/
}


.text-center{
    text-align: center;
}

.titutlo-registro{
    font-size: 40px !important;
    margin-top: 50px;
    color: #727272;
}

.login-body{
    background: url("#{request.contextPath}/resources/omega-layout/images/bg_registro_usuario.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.registroUusuarios-body{
    background: url("#{request.contextPath}/resources/omega-layout/images/MenuBack.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.imagen-perfil{
    width: 100%;
    height: 420px;
}