/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2019, 12:10:03 PM
    Author     : jtenchil
*/

@media(max-width: 1400px){
    barra-negra{
        margin-top: -100px;
    }
}

.barra-negra{
    background-color: #424242;
    opacity: 0.8 !important;
    height: 59px;
    /*margin-top: -31%;*/
}
.sinMargenes{
    margin: 0px;
    padding: 0px;
}

.lista-restaurante{
    text-align: left;
    color: white !important;
    border-color: white !important;
    border-width: 1px !important;
    border-radius: 10px;
    border-style: solid;
}

.img-carta{
    margin-top: 3px !important;
    background-position: 50% 50%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 150px;
}

@media(max-width: 1400px){
    .tamaño-Logo{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        margin-top: 250px;
        background-position: 50% 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        border: 1px #fff solid !important;
        z-index: 1;
        position: absolute;
        background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-image: none;
        background-size: auto;
        margin: 10px;
        margin-top: 20px;
        padding: 20px;
        margin-top: 130px !important;
    }
}

@media(max-width: 1900px){
    .portada{
        margin-top: 5px !important;
        background-position: 50% 50%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 260px;
    }
    .tamaño-Logo-menu{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        background-position: 50% 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        border: 1px #fff solid !important;
        z-index: 1;
        position: absolute;
        background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-image: none;
        background-size: auto;
        margin: 10px;
        margin-top: 170px !important;
        padding: 20px;
        margin-top: 120px !important;
    }

    .pososion-logo-menu{
        margin-top: 110px !important;
    }
    
    .pososion-logo-cerrarR{
        z-index: 1; 
        position: absolute !important;
        margin-top: 193px !important;
        margin-left: 910px !important; 
        float: right;
    }

}


@media(max-width: 640px){
    .portada{
        margin-top: 10px !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 200px;
    }
    .EstilocarritoResp{
        display: none;
    }

    .tamaño-Logo{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        background-position: 50% 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        border: 1px #fff solid !important;
        z-index: 1;
        position: absolute;
        background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-image: none;
        background-size: auto;
        margin: 10px;
        margin-top: 170px !important;
        padding: 20px;
        margin-top: 130px !important;
    }

    .tamaño-Logo-menu{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        background-position: 50% 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        border: 1px #fff solid !important;
        z-index: 1;
        position: absolute;
        background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-image: none;
        background-size: auto;
        margin: 10px;
        margin-top: 170px !important;
        padding: 20px;
        margin-top: 100px !important;
    }

    .pososion-logo{
        margin-top: 120px !important;
    }
    .pososion-logo-menu{
        margin-top: 60px !important;
    }
    

}

@media(max-width: 420px){
    .portada{
        /*margin-top: 104px !important;*/
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 200px;
    }
    .EstilocarritoResp{
        display: none;
    }

    .tamaño-Logo{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        background-position: 50% 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        border: 1px #fff solid !important;
        z-index: 1;
        position: absolute;
        background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-image: none;
        background-size: auto;
        margin: 10px;
        margin-top: 170px !important;
        padding: 20px;
        margin-top: 130px !important;
    }

    .tamaño-Logo-menu {
        width: 100px;
        height: 100px;
        border-radius: 5%;
        margin-top: 250px;
        background-position: 50% 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        border: 1px #fff solid !important;
        z-index: 1;
        position: absolute;
        background: #fff;
        background-position-x: 0%;
        background-position-y: 0%;
        background-image: none;
        background-size: auto;
        margin: 10px;
        margin-top: 20px;
        padding: 20px;
        margin-top: 100px !important;}

    .pososion-logo{
        margin-top: 70px !important;
    }

    .pososion-logo-menu{
        margin-top: 60px !important;
    }


}




@media(max-width: 1400px){
    .platillosV{
        margin-top: 5px !important;

    }

}


@media(max-width: 640px){
    .platillosV{
        margin-top: 105px !important;

    }
    .ancla{
        display: block;
        position: absolute;
        bottom: 0;
        width: 90%;
        margin-bottom: 10px;
        z-index: 0;
    }
    .ancla2{
        display: block;
        position: absolute;
        bottom: 0;
        width: 90%;
        margin-bottom: 110px;
        z-index: 0;
    }
    .ancla3{
        display: block;
        position: absolute;
        bottom: 0;
        width: 90%;
        margin-bottom: 60px;
        z-index: 0;
    }
}

.img-carta-nueva{
    display: block;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    border-radius: 5px;
    height: 200px;
}
/*.img-nuevo-platillo{
    display: block;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    border-radius: 5px;
    height: 250px;
}*/

.img-platillo{
    width: 50%;
    height: 50%;
}

.ico-rest{
    width: 25%;
}

.ui-button.ui-state-default.mesa-seleccionada{
    background-color: #FF6F00;
    color: white;
    width: 100px;
    height: 100px;
}
.ui-button.ui-state-default.mesa-no-seleccionada{
    background-color: gray;
    color: white;
    width: 100px;
    height: 100px;
}

.letrero{
    font-weight: bold;
    color: #F57C00;
    font-size: 15px
}

.letrero2{
    font-weight: bold;
    color: #F57C00;
    font-size: 12px;
    width: 100%;
}