/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-feb-2019, 21:16:39
    Author     : iKhalil
*/

.tarjeta {
    background-color: #999999 !important;
    border: solid 1px #999999;
}

.semanal {
    background-color: #ff6633 !important;
    border: solid 1px #ff6633;
}


.quincenal {
    background-color: #009900;
    border: solid 1px #009900;
}

.mensual {
    background-color: cadetblue !important;
    border: solid 1px cadetblue;
}

.trimestral {
    background-color: #999900 !important;
    border: solid 1px #999900;
}

.semestral {
    background-color: #990000 !important;
    border: solid 1px #990000;
}