<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="footer">

        <div class="container">

            <div class="row text-center">

                <div class="">
                    <ul class="list-inline social-buttons">

                        <li class="list-inline-item" style="display: inline-flex;">
                            <a href="https://www.facebook.com/" target="_blank" style="margin: 10px">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="https://www.instagram.com/" target="_blank" style="margin: 10px">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-copyright text-center col-md-4" style="color: #fff;padding: 10px">2020 © Copyright - Fany | Todos los derechos reservados
                    <a href="" target="_blank" style="color: #FBB600;">Fany</a>

                </div>
            </div>
        </div>
    </div>
</ui:composition>