<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/omega">

    <h:form id="menuLateral" style="font-family: 'Titillium Web', sans-serif;">
        <div class="sidebar" style="background: darkslategray;">
            <div class="nano">
                <div class="nano-content sidebar-scroll-content"> 
                    <div>
                        <div style="text-align: center" class="invitado">
                            <p:graphicImage name="sol.jpg" 
                                            width="100"
                                            class="invitado"
                                            style="background-image: url('images/fondoperfil2.jpg')"
                                            rendered="#{sesionController.view.usuarioSesion == null}"
                                            library="images" />

                        </div>
                    </div>
                    <p:fragment>
                        <div class="profile" >
                            <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left">
                                <p:graphicImage class="img-user" cache="false" />
                                <div style="display: inline-grid;">
                                    <p:outputLabel id="nombreDeUsuario" style="color: #fff;margin-top: 20px">Nombre</p:outputLabel>
                                </div>
                            </div>
                        </div>
                    </p:fragment>
                    <div class="menu">
                        <div class="ui-g-12 ui-md-12 ui-lg-12"
                             style="display: contents;
                             margin-top: 10px !important;
                             padding: 10px;">
                            <p:outputLabel style="color: #727272;
                                           padding: 10px;display: flex;" value=""></p:outputLabel>

                        </div>
                        <div  style="display: flex;">
                            <p:commandButton value="Iniciar sesión"
                                             class="ui-g-6 ui-md-6 ui-lg-6 grisNegro-button"
                                             action="/login.xhtml?faces-redirect=true" update="@form">
                            </p:commandButton>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function cerrarSesion() {
                    document.getElementById("formSessionHidden:cerrarSesion").click();
                    document.cookie = 'cU=;path=/FEX;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                }
            </script>
        </div>
    </h:form>
</ui:composition>
