<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <h:head>
        <f:facet name="first">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>

        <link rel="shortcut icon" type="image/x-icon" href="#{resource['omega-layout/images/icoweb.ico']}"/>

        <script>


            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Fecha actual',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                allDayText: 'Todo el día'
            };

        </script>

    </h:head>

    <h:body styleClass="main-body">
        <p:growl autoUpdate="true" showDetail="false"/>
        <div class="wrapper">
            <ui:include src="topbar.xhtml" />
            <ui:include src="sidebar.xhtml" />
            <div class="main">
                <ui:insert name="content"/>
            </div>
            <ui:include src="footer.xhtml" />
        </div>

        <p:ajaxStatus style="
                      width: 110px;
                      height: 110px;
                      position: fixed;
                      right: 41%;
                      bottom: 47%;
                      pointer-events: none;">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="omega-layout" style="width: 100%;"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/animate.css" library="omega-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="omega-layout" />
        <h:outputStylesheet name="css/layout.css" library="omega-layout" />
        <h:outputStylesheet name="css/calendarEvents.css" library="omega-layout" />
        
        
        <h:outputScript name="js/nanoscroller.js" library="omega-layout" />
        <h:outputScript name="js/layout.js" library="omega-layout" />
        
    </h:body>
</html>
