<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"> 

    <div class="topbar clearfix">
        <h:form prependId="false" id="formTopbar">
            <a id="omega-menu-button" href="#">
                <span class="iconsidebarsandwich"></span>
            </a>
        </h:form>

        <span class="topbar-title"
              style="
                padding-left: 15px;
                font-size: 24px;
              ">
            <ui:insert name="title">
            </ui:insert>
        </span>
    </div>
</ui:composition>
