<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./WEB-INF/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="title">
        Inicio
    </ui:define>

    <ui:define name="content">

        <hr />
        <hr />
        <div class="ui-g ui-fluid">
            Hola Fany :)
        </div>

    </ui:define>

</ui:composition>
