<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>inicioSesion</title>
    </h:head>
    <h:body>
        <p:growl id="msj" showDetail="true" autoUpdate="true"/>

        <p:fragment id="locked">
            <h:form id="locked_form" class="ui-sm-12 ui-md-6 ui-lg-5" rendered="#{inicioSesion.nuevo}">
                <p:commandButton value="Retomar sesión"
                                 actionListener="#{inicioSesion.retomar()}"
                                 update="@this,datos"/>
            </h:form>
        </p:fragment>
        <p:fragment id="datos">
            <h:form id="datos_form" class="ui-sm-12 ui-md-6 ui-lg-5" rendered="#{not inicioSesion.nuevo}">
                <p:inputText value="#{inicioSesion.nombreUsuario}"  />
                <p:password value="#{inicioSesion.password}" />
                <hr/>
                <p:commandButton value="Iniciar sesion"
                                 actionListener="#{inicioSesion.iniciarSesion()}"
                                 />
            </h:form>
        </p:fragment>



        <h:form id="registro" class="ui-sm-12 ui-md-6 ui-lg-5">
            <p:inputText value="#{inicioSesion.usuario.nombre}" placeholder="Nombre de pila"/>
            <p:inputText value="#{inicioSesion.usuario.apellidoPater}" placeholder="Apellido paterno" />
            <p:inputText value="#{inicioSesion.usuario.apellidoMater}" placeholder="Apelido materno" />
            <p:calendar value="#{inicioSesion.usuario.fechaNacim}" placeholder="Fecha de nacimiento" />
            <p:calendar value="#{inicioSesion.usuario.fechaInicio}" placeholder="Fecha de inicio" />
            <p:inputText value="#{inicioSesion.usuario.sexo}" placeholder="Sexo" />

            <p:inputText value="#{inicioSesion.usuario.estado}" placeholder="Estado" />
            <p:inputText value="#{inicioSesion.usuario.direccion}" placeholder="direccion"/>
            <p:inputText value="#{inicioSesion.usuario.usuarioNombre}" placeholder="usuarioNombre" />
            <p:password value="#{inicioSesion.password}" placeholder="Contraseña" />
            <hr/>
            <p:commandButton value="Registrate"
                             actionListener="#{inicioSesion.registro()}"
                             />
        </h:form>
    </h:body>
</html>

