<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-itunes-app" content="app-id=1339040737" />

        </f:facet>
        <title>Edictos</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['omega-layout/images/icoweb.ico']}"/>
        <h:outputStylesheet name="css/layout.css" library="omega-layout" />
    </h:head>
    <h:body>
        <div class="login-body"></div>
        <div id="login-wrapper" style="margin-top: 56px;">
            <div class="login-back">
                <h:form id="form" class="ui-g ui-fluid login-front">
                    <p:graphicImage value="resources/images/sol.jpg" 
                                    style="background-size: cover;
                                    width: auto;
                                    min-width: 200px;
                                    background-repeat: no-repeat;
                                    height: 200px;
                                    margin: auto;" width="100%"/>
                    <div class="ui-g-12">
                        <p:messages id="messages" showDetail="false" closable="true" autoUpdate="true"/>
                    </div>
                    <div class="ui-g-12">
                        <p:inputText placeholder="Correo electrónico" id="email"  style="padding: 10px;
                                     border-color:  #727272 !important;
                                     background-color: rgba(197,1,8,0.5);"
                                     validatorMessage="El correo no tiene formato válido">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            <p:keyFilter for="email" mask="email"/>
                        </p:inputText>
                    </div>
                    <div class="ui-g-12" oncopy="return false;" >
                        <p:password placeholder="Contraseña" style="padding: 10px;
                                    border-color:  #727272 !important;
                                    background-color: rgba(197,1,8,0.5);"
                                    autocomplete="OFF" required="true"
                                    requiredMessage="Debe indicar la contraseña"/>
                    </div>
                    <div class="ui-g-6">
                        <p:selectBooleanCheckbox value="true"/>
                        <span>Mantener sesión</span>
                    </div>
                    <div class="ui-g-6">
                        <p:commandButton value="Iniciar sesión" styleClass="rojo-button"
                                         action="index.xhtml"
                                         />
                    </div>
                </h:form>
            </div>
        </div>
    </h:body>
</html>

